/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Reset CSS */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
button, input {
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.5em;
  margin-top: 0;
  font-weight: normal;
}

/* Default CSS */
body {
  font-weight: 300;
  background-color: #222;
  height: 100vh;
}

/* UIKit Accordion Custom CSS */
.netfix-faq {
  color: #fff;
  width: 700px;
  margin: auto;
  /* border: 1px solid #fff; */
}
.netfix-faq h1 {
  color: #fff;
  text-align: center;
}
.netfix-faq .uk-accordion li .uk-accordion-title {
  color: #ecf0f1;
  background-color: #303030;
  padding: 10px;
} 
.netfix-faq .uk-accordion li .uk-accordion-content {
  background-color: #303030;
  padding: 10px;
}
.netfix-faq .uk-accordion li.uk-open a {
  background-color: #34495e;
}
.netfix-faq .uk-accordion>:nth-child(n+2) {
  margin-top: 5px;
}
/* .netfix-faq .uk-accordion li {
  margin-top: 5px !important;
} */
.netfix-faq .uk-accordion .uk-accordion-content {
  margin-top: 5px;
}
.netfix-faq .uk-accordion .uk-open>.uk-accordion-title::before,
.netfix-faq .uk-accordion .uk-accordion-title::before {
  background-image: none;
}
.netfix-faq .uk-accordion .uk-accordion-title::before {
  content: '\f64d';
  font-family: bootstrap-icons;
  display: inline-block;
  transition: 0.5s;
}
.netfix-faq .uk-accordion .uk-open>.uk-accordion-title::before {
  transform: rotate(45deg);
}









